@charset "UTF-8";
/**
 * Title: Custom CSS File
 * Author URI: http://wayox.com
 * Website: http://wayox.com
 */

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1399px) {
	.logo-resize {
		width: 85%;
	}
	.btn-cta {
		font-size: 36px;
		padding: 10px 20px 4px;
	}
	.responsive-text-align-3-cols,
	.responsive-text-align-4-cols {
		text-align: left;
	}
}

